{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "tabWidth": 2,
        "semi": true,
        "singleQuote": true,
        "trailingComma": "all",
        "printWidth": 120
      }
    ]
  }
}
